<footer class="footer">
  <div class="footerLink">

  </div>
</footer>
<!--jquery-->
<script src="__PUBLIC__/assets_1/public/jquery/jquery.min.js"></script>
<!--bootstrap3-->
<script src="__PUBLIC__/assets_1/public/bootstrap/js/bootstrap.min.js"></script>
<!--icheck-->
<script src="__PUBLIC__/assets_1/public/icheck/icheck.min.js"></script>
<script src="__PUBLIC__/assets_1/js/jquery.cookie.js"></script>

<!--<script src="__PUBLIC__/assets_1/js/common.js"></script>-->
<script src="__PUBLIC__/assets_2/public/bootstrap/js/Chart.min.js"></script>
<script src="__PUBLIC__/assets_2/js/Chart.js"></script>
<script src="__PUBLIC__/assets_1/js/buyer_letter.js"></script>
<script src="__PUBLIC__/assets_1/js/supplier_letter.js"></script>
<script src="__PUBLIC__/assets_1/js/js.cookie.js"></script>

<script src="__PUBLIC__/assets_1/js/store.js"></script>
<script src="__PUBLIC__/assets_1/js/search.js"></script>

<script type="text/javascript">

</script>
</body>
</html>